*{
  color: white;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
}

header {
  background-color: #1f2937;
  width: 100%;
  padding: 25px 20px;

  display: flex;
  align-items: center;     
  justify-content: center;

  border-bottom: 3px solid white;  
}

.header__content {
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 38px;
  letter-spacing: 2px;
  color: #f9fafb;
}

header p {
  margin: 8px 0 0 0;
  font-size: 17px;
  color: #d1d5db;
  font-style: italic;
}

.menu{                                     /* container geral */
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("imagens/familia.jpeg");
    background-size: cover;
    background-position: center top;
}

.cards{                                    /* grid com 2 colunas */
  display: flex;
  gap: 80px;                                 /* espaço entre esquerda e direita */
}

/* TODOS os botões secundários iguais */
.cards button {
  width: 260px;
  height: 70px;
  font-size: 18px;

  border-radius: 16px;
  border: 2px solid rgba(255,255,255,0.8);

  background-color: #1f2937;
  color: white;
  
  cursor: pointer;

  box-shadow: 0 6px 15px rgba(0,0,0,0.35);

  transition: all 0.2s ease;

  margin: 10px;
}

/* botão principal */
.mileva__index {
  width: 320px;
  height: 80px;

  font-size: 22px;
  font-weight: bold;

  background-color: #111827;
  color: white;

  border: 2px solid rgba(255,255,255,0.9);
  border-radius: 18px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.45);

  transition: all 0.2s ease;
}

.coluna1, .coluna2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button:hover{
  background-color: #374151;
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .menu {
        background-image: linear-gradient(
            rgba(255,255,255,0.6), 
            rgba(255,255,255,0.6)
        ), url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Mileva_Maric.jpg");

        background-size: cover;
        background-position: center top;
    }
    .cards{
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .coluna1, .coluna2 {
      display: contents;
    }
    button{
      width: 260px;
      height: 70px;
      font-size: 18px;
      border-radius: 20px;
      border: 3px solid white;
      background: black;
      cursor: pointer;
      color: white;
      margin: 10px;
    }
}
